* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
  line-height: 1.5;
  font-weight: 400;
  color: #fff;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #000;
}

#app {
  flex: 1;
  display: flex;
  flex-direction: column;
}

main {
  padding: 3em;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

p {
  display: inline;
}
